* {
  font-family: "Roboto";
  font-weight: normal;
  background-color: #eeeeee;
}

p {
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: auto 80% auto;
}

img {
  border-radius: 1vw;
  max-width: 100%;
}

h1 {
  font-weight: inherit;
}

.title {
  display: grid;
  justify-content: center;
  font-weight: bolder;
}

.main {
  display: grid;
  grid-template-columns: auto 2.5vw auto;
}
